.slider{
    height:100vh !important ;
}

.slider-frame {
    height:100% !important ;
    position: relative;
}

.slider .image-cont{
    height: 100%;
    margin:0 auto;
    width: 100%;
}

.slider .fa {
    cursor: pointer;
    color:white;
}

.slider .fa-chevron-left{
    margin-left: 30px;
}

.slider .fa-chevron-right{
    margin-right: 30px;
}

.slider img {
    cursor: default;
    height: 100%;
    width:100%;
}

.slider .image-desc {
    position: absolute;
    z-index: 1000;
    color: white;
    top: 45%;
    left: 0;
    width:100%;
    text-align: center;
    font-size: 50px;
}

