.firstpage-header {
    position: fixed;
    z-index: 1000;  
    width: 100%;
    margin: 0;
}

.firstpage-navbar {
    height: 50px !important;
    min-height: 50px !important;
    max-height: 50px !important;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
    color: white;
    border-bottom: 0.02px solid #000000;
}

.firstpage-logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding:0 16px;
}

.firstpage-logo img{
    height: 30px;
    /* width: 108px; */
    line-height: 0;
    max-width: 100%;
}

.firstpage-navbar-button{
    background-color: inherit;
    color:inherit;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    overflow: visible;
    font-weight: 900;
    font-family: 'Bree Serif';
    font-size: 14px;
}

.firstpage-navbar-button:hover{
    background-color:rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #239ab4;
    padding-top: 3px;
}

.aboutus-desc{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
}

.aboutus-card{
    margin:5px 15px;
    padding: 10px;
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: justify;
    width:300px;
}

.aboutus-card > h1{
    font-family: Rubik;
}

.aboutus-card > p{
    font-family: 'Dancing Script';
    font-size: 20px;
}

/* @media only screen and (max-width: 830px) {
    .button_group{
        display: inline-block;
    }
} */