.firstpage-header {
    position: fixed;
    z-index: 1000;  
    width: 100%;
    margin: 0;
    background: none;
    background: linear-gradient(to top left, #ffffff00  0%,#00000000 82%);    
    transition: all 1s;
}

.firstpage-navbar {
    height: 50px !important;
    min-height: 50px !important;
    max-height: 50px !important;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
    color: white;
}

.firstpage-logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding:0 16px;
}

.firstpage-logo img{
    height: 30px;
    /* width: 108px; */
    line-height: 0;
    max-width: 100%;
}

.firstpage-navbar-button{
    background-color: inherit;
    color:inherit;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    overflow: visible;
    font-weight: 900;
    font-family: 'Bree Serif';
    font-size: 14px;
}

.firstpage-navbar-button:hover{
    background-color:rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #239ab4;
    padding-top: 3px;
}

.about-college-desc{
    display: flex;
    padding: 40px;
    width: 50%;
    height: 100%;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: Helvetica;
}
.about-club-desc{
    display: flex;
    /* padding: 20px; */
    width: 100% ;
    text-align: left;
    height: 33%;
    flex-direction: column;

}

/* @media only screen and (max-width: 830px) {
    .button_group{
        display: inline-block;
    }
} */