 @import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto'); 
 @import url('https://fonts.googleapis.com/css?family=Lobster|Rubik|Bree+Serif');

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto' ,sans-serif;
  font-size: 14px;
  background-color: rgb(58, 57, 57);
  -webkit-text-size-adjust: 100%;
}
